#about {
    display: flex;
    margin: auto;
    
}

#aboutMe {
    display: flex;
    flex-direction: column;   
}



#aboutMeText {
    color: $primary;
}

#techStack {
    display: grid;
    
}

.technology {
    color: $secondary;
    margin-top: 15px;
}

.technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &:hover {
        cursor: pointer;
    }
}



/* Tablets and Desktop */
@media only screen and (min-width: 1300px) {

    #about {
        padding: 30px;   
    }

    #aboutMeTitle {
        text-align: left;
    }

    #mainInfo {   
        width: 60%;
        margin-left: 1%;
        display: flex;
        justify-content: center;  
        flex-direction: column;
    }

    #mainInfo, #profileImg {
        margin: 50px 0px;
    }


    #techStack {
        width: 100%;
        margin: auto;
        grid-template-columns: repeat(6, 0.15fr); 
    }

    #profileImg {
        margin-left: 10%;
        
    }

    .technology {
        margin: 10px 10px;

        img {
            width: 80px;
            height: 80px;
    
            transition-duration: 500ms;

            &:hover {
                transform: scale(1.1);
        
                transition-duration: 500ms;
            }
        }
        b {
            margin-top: 8px;
            font-size: 20px;
            color: $secondary;
        }
    }
}

/* Mobile */
@media only screen and (max-width: 1300px) {
    
    #about {
        
        flex-direction: column;
    }

    #aboutMeTitle {
        text-align: center;
    }

    #aboutMeText {
        font-size: 20px;
        padding: 15px 30px;
        text-align: center;
    }

    #profileImg {
        margin: auto;
        width: 40%;
        margin-bottom: -10px;
    }

    #techStack {
        grid-template-columns: repeat(3, 0.5fr);
    }

    .technology img {
        width: 80px;
        height: 80px;
    }
}