#contact {
    margin-top: 5vh;

    color: $primary;
    text-align: center;

}

#contactForm {
    
    padding: 30px;
    margin: auto;
    text-align: center;
    color: $primary;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 50px;
    


    #inputFields {
        display: flex;
        justify-content: center;
    }

    #btnSubmit {
        background-color: $primary;
        border: none;
        border-radius: 10px;
        color: $white;
        margin-top: 20px;
        font-size: 25px;
        padding: 20px 35px;
        transition-duration: 500ms;
    
        &:hover {
            border-radius: 20px;
            transition-duration: 500ms;
        }
    }   
    
    div {
        margin: 0px 5px;
    }
}



label {
    
    text-align: left;
    margin: 10px 0px;
}

.inputSection {
    
    display: flex;
    flex-direction: column;
    
    input {
        height: 30px;
    }

    input, textarea {
        background-color: #dfdfdf;
        border: none;
        border-radius: 10px;
        padding: 15px;
        resize: none;
        
        
        color: $primary;
        font-size: 18px;
    
        &:focus {
            
            border-bottom: 5px solid $secondary;    
        }
    }
}


::placeholder { /* Firefox */
    color: $primary;
    font-size: 20px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $primary;
}
   
::-ms-input-placeholder { /* Microsoft Edge */
    color: $primary;
}

#socials {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}

/* Tablets and Desktop */
@media only screen and (min-width: 850px) {


    #btnBack {
        position: fixed;
        left: 3vw;
        top: 13vh;
    }

    input, textarea {
        margin: auto;
        width: 25vw;
    }
}

/* Mobile */
@media only screen and (max-width: 850px) {
    #contactForm {
        font-size: 20px;
    }

    #inputFields {
        flex-direction: column;
    }

    input, textarea {
        font-size: larger;
    }

    input {
        height: 20px;
    }

    #btnSubmit {
        font-size: large;
    }

    #contact {
        h2 {
            margin: auto;
            font-size: 25px;
            max-width: 80%;
            
        }
    }
}