#moreProjectsNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#moreProjectsHeading .sectionTitlePrimary {
    font-size: 35px;
}

#projectsCategory {
    display: grid;
    margin: auto;
    width: 80%;
}

#btnBack {
    text-decoration: none;
}

/* Desktop  */
@media only screen and (min-width: 1600px) {
    #projectsCategory {
        grid-template-columns: repeat(3, 0.5fr);

    }
}

/* tablet */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {



    #mobileView {
        
        display: flex;
        align-items: center;
        justify-content: center;
        
    }


    #projectsCategory {
        grid-template-columns: repeat(2, 0.5fr);

    }
}

/* Mobile */
@media only screen and (max-width: 1200px) {
    #moreProjectsHeading {
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    #moreProjectsNav {
        margin-top: 25px;
        flex-direction: column;
    }


    #projectsCategory {
        grid-template-columns: repeat(1, 0.5fr);

        .project {
            height: 300px;
        }
    }

    

    #desktopView {
        display: none;
        visibility: hidden;
    }

    #mobileView {
        
        display: flex;
        
        align-items: center;
        justify-content: center;
        
    }

    #categorySelector {
        border: none;
        border-radius: 10px;
        color: $background;
        background-color: $secondary;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: bold;
    }

    .btnProjectsNav {
        margin-top: 10px;
    }
}