#projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: $primary;
    
}

#projectsContent {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 60px 0px;
}

.project {

  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0.9;

}
.projectImage {
  opacity: 1;
  display: block;
  
  margin: 15px;
  
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 20px;

  object-fit: cover;
}

.projectInfo {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;


  background-color: $white;
  border-radius: 20px;
  padding: 10px;


  display: flex;
  flex-direction: column;

  
}

.project:hover .projectImage {
  opacity: 0.7;
  
}

.project:hover .projectInfo {
  opacity: 1;
  
}

.projectText {
    color: $secondary;
    a {
        text-decoration: none;
        font-weight: bold;
        margin: 0px 5px;
        color: $white;
        font-size: 25px;
        display: inline-block;
        background-color: $secondary;
        padding: 10px;
        border-radius: 10px;
        transition-duration: 500ms;

        &:hover {
          transition-duration: 500ms;
          border-radius: 15px;
        }

        &:active {
          transition-duration: 500ms;
          border-radius: 20px;
        }
    }
    
}

.btnProjectsNav {
  color: $white;
  background-color: $secondary;
  padding: 15px 30px;
  border: none;
  font-size: 20px;
  margin: 0px 10px;

  transition-duration: 500ms;

  &:hover {
    border-radius: 15px;
  
    transition-duration: 500ms;
  }
  
  &:active {
    border-radius: 20px;
  }
}

#moreProjectsLink {
  text-align: center;
  color: $white;
  border: none;
  
  background: linear-gradient(127deg, rgba(248,138,125,1) 0%, rgba(201,112,102,1) 80%);
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  transition-duration: 500ms;
  padding: 20px 30px;
  border-radius: 20px;

  &:hover {
      transition-duration: 500ms;
      border-radius: 30px;
  }
  
}


/* Desktop */
@media only screen and (min-width: 800px) {
  
  #projectsList {
    
    display: grid;
    align-items: center;
  }

  .project {
      margin: auto;
  }

  .projectText {
      font-size: large; 
  }

  .projectInfo {
    width: 80%;
    height: 70%;
  }

  .projectImage {
      width: 500px;
      margin: 15px;
      height: 350px;

      
  }

}

@media only screen and (min-width: 1600px) {
  #projectsList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 800px) and (max-width: 1600px) {
  #projectsList {
    grid-template-columns: repeat(2, 1fr);
  }

}


/* Mobile */
@media only screen and (max-width: 800px) {
    #projectsList {
        display: grid;
        align-items: center;
        align-content: center;
        grid-template-columns: repeat(1, 90%);
        text-align: center;
    }

    .project {
        margin: auto;
        margin-bottom: 15px;
        width: 80vw;  
    } 

    .projectInfo {
      font-size: 10px;
      width: 70%;
      
    }

    .projectText {
        font-size: 15px;

        a {
            font-size: 15px;
            margin-top: 3px;
        }
    }

    .projectImage {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 300px;
    }
}

