
@import "./variables";
@import "./nav";


* {
    scroll-behavior: smooth;
    font-family: Arial;
}

html, body {
    overflow-x: hidden;
}



body {
    background-color: $darkwhite;
    position: relative;
    
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    max-width: 100%;

    overflow-y: hidden;
    
}

.container {
    width: 80%;
}

.sectionTitlePrimary, .sectionTitleSecondary {
    text-align: center;
    
}

.sectionTitlePrimary {
    color: $secondary;
}

.sectionTitleSecondary {
    color: $white;
}

#home {
    margin-top: -33px;
    height: 95vh;
    background-image: url("../imgs/hero.jpg");
    background-size: cover;
    background-position-y: -290px;

    #welcomeText {
        color: $white;
        
        padding-top: 20vh;
        z-index: 3;
        text-align: center;
        font-size: 50px;
    }
}




#socials {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}

.btnMisc, #btnBack {
    margin: 0px 10px;
    background-color: $primary;
    background: linear-gradient(338deg, $primary 39%, $secondary 100%);
    color: $white;
    padding: 15px 20px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    transition-duration: 500ms;

    &:hover {
        border-radius: 50px;
        cursor: pointer;
        background: $primary;
        background: linear-gradient(338deg, $primary 0%, $secondary 100%);
        transition-duration: 500ms;
    }
}


#about {
    
    text-align: center;
    
}

#aboutMe {
    display: flex;
    flex-direction: column;  
    
}

#aboutMeText {
    color: $primary;
}

#techStack {
    display: grid;
    
    
}

.technology {
    color: $white;
    margin-top: 15px;
}




.technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



#projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: $primary;
}

.project {

  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0.9;

}
.projectImage {
  opacity: 1;
  display: block;
  
  margin: 15px;
  
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 20px;
}

.projectInfo {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;

  display: flex;
  flex-direction: column;
  
}

.project:hover .projectImage {
  opacity: 0.3;
  
}

.project:hover .projectInfo {
  opacity: 1;
}

.projectText {
    color: $primary;
    a {
        text-decoration: none;
        font-weight: bold;
        margin: 0px 5px;
        color: $primary;
    }
    
}


.github {
    margin-top: auto;   
    opacity: 0.5;
    width: 20%;
    height: 20%;
}

#moreProjectsLink {
    text-align: center;
    color: $primary;
    text-decoration: none;
    border-bottom: 3px solid $primary;
    font-size: 30px;
    font-weight: bold;
    transition-duration: 500ms;
}

#moreProjectsLink:hover {
    padding-bottom: 5px;
    transition-duration: 500ms;
}



#moreProjectsNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#moreProjectsHeading .sectionTitlePrimary {
    font-size: 35px;
}


.btnProjectsNav {
    color: $white;
    background-color: $secondary;
    padding: 15px 30px;
    border: none;
    font-size: 20px;
    margin: 0px 10px;

    transition-duration: 500ms;
}

.btnProjectsNav:hover {
    border-radius: 15px;

    transition-duration: 500ms;
}

.btnProjectsNav:active {
    border-radius: 20px;
}




.inputField, #contactForm, .projectImg {
    border-radius: 10px;
}

.inputField {
    resize: none;
}

#contactForm {
    width: 60%;
    padding: 30px;
    margin: auto;
    text-align: center;
    color: $primary;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 50px;
}

input, textarea {
    border: 1px solid #979797;
    padding: 15px;
}

input:focus, textarea:focus {
    border: 1px solid #979797;
    border-bottom: 5px solid $secondary;
}

#btnSubmit {
    background-color: $secondary;
    border: none;
    color: $white;
    margin-top: 10px;
    font-size: large;
    padding: 15px 30px;
    transition-duration: 500ms;
}

#btnSubmit:hover {
    border-radius: 20px;
    transition-duration: 500ms;
}

#btnBack {
    text-decoration: none;
}

#projectsCategory {
    display: grid;
    margin: auto;
    width: 80%;
}


/* Tablets and Desktop */
@media only screen and (min-width: 850px) {



    #mobileMenu, #mobileNav {
        display: none;
        visibility: hidden;
    }


    #socials {

        flex-direction: row;
    }

    #mainInfo {
        display: flex;
        align-items: center;
        justify-content: center;  
    }

    #profileImg {
        padding-right: 1em;
    }

    #aboutMe {
        width: 50%;  
        
    }

    #aboutMeText {
        flex-basis: 50%;
        text-align: center;
        line-height: 40px;
    }

    #techStack {
        width: 100%;
        margin: auto;
        grid-template-columns: repeat(6, 0.5fr);
        
        
    }

    .technology {
        margin: 10px 10px;

        img {
            width: 100px;
            height: 100px;
    
            transition-duration: 500ms;

            &:hover {
                transform: scale(1.1);
        
                transition-duration: 500ms;
            }
        }
    }


    #projectsList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .project {
        margin: auto;
    }

    .projectText {
        font-size: large;
         
    }

    .projectImage {
        width: 500px;
        margin: 15px;
        height: 350px;
        
    }

    #projectsCategory {
        grid-template-columns: repeat(3, 0.5fr);
    }

    #mobileView {
        display: none;
        visibility: hidden;
    }


    #btnBack {
        position: fixed;
        left: 3vw;
        top: 13vh;
    }


    #contactForm {
        font-size: x-large;
        width: 30%;
    }

    input, textarea {
        width: 50%;
    }
}

/* Mobile */
@media only screen and (max-width: 850px) {





    
    #welcomeText {
    
        padding: 100px;
        z-index: 3;
    
        text-align: center;
    }

    #socials {
        align-items: center;
        flex-direction: column;
        margin-top: -10vh;
    }

    .btnMisc {
        margin-top: 10px;
    }

    #profileImg {
        width: 95%;
        margin-bottom: -10px;
    }


    #aboutMeText {
        font-size: 20px;
        padding: 15px 30px;
        text-align: center;
    }

    #techStack {
        grid-template-columns: repeat(3, 0.5fr);

    }

    .technology img {
        width: 80px;
        height: 80px;
    }

    #projectsList {
        display: grid;
        align-items: center;
        align-content: center;
        grid-template-columns: repeat(1, 90%);
        text-align: center;
    }

    .project {
        margin: auto;
        margin-bottom: 15px;
        width: 80vw;
        
    }

    .projectText {
        font-size: 15px;
    }

    .projectImage {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 300px;
    }

    .projectText a {
        font-size: 15px;
        margin-top: 3px;
    }



    #moreProjectsHeading {
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    #moreProjectsNav {
        margin-top: 25px;
        flex-direction: column;
    }


    #projectsCategory {
        grid-template-columns: repeat(1, 0.5fr);
    }

    #projectsCategory .project {
        height: 250px;
    }

    #desktopView {
        display: none;
        visibility: hidden;
    }

    #mobileView {
        
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    #categorySelector {
        border: none;
        border-radius: 10px;
        color: $background;
        background-color: $secondary;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: bold;
    }

    .btnProjectsNav {
        margin-top: 10px;
    }

    .github {
        width: 3em;
        height: 2em;
    }

    #contactForm {
        font-size: x-large;
    }

    input, textarea {
        font-size: larger;
        width: 90%;
        margin-bottom: 5px;
    }

    input {
        height: 20px;
    }

    #btnSubmit {
        font-size: large;
    }
}