@media only screen and (min-width: 850px) {
  nav {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav a {
    padding: 0px 20px;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    color: #f88a7d;
    font-weight: bold;
    -webkit-transition: ease;
    transition: ease;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
  }
  nav a:hover {
    font-size: 30px;
    -webkit-transition: ease;
    transition: ease;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
    text-decoration: none;
  }
  nav #right {
    position: absolute;
    right: 30px;
  }
  #azlogo {
    border-radius: 10px;
    -webkit-transition: 500ms;
    transition: 500ms;
    margin-left: 20px;
  }
  #mobileMenu, #mobileNav {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (max-width: 850px) {
  nav {
    display: none;
    visibility: hidden;
  }
  #mobileMenu {
    position: fixed;
    bottom: 20px;
    right: 15px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background: #f88a7d;
    border: none;
    color: #FCFDFF;
    font-weight: bold;
    border-radius: 10px;
    z-index: 5;
  }
  #mobileNav {
    width: 0;
    position: fixed;
    z-index: 5;
    height: 160px;
    bottom: 0;
    right: 0;
    background-color: #0a2249;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 20px;
    border-top-left-radius: 10px;
  }
  #mobileNav a {
    color: #FCFDFF;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    border-bottom: 1px solid #FCFDFF;
    width: 80%;
    margin-top: 8px;
    margin: auto;
  }
}

#home {
  margin-top: -35px;
  background-image: url("../imgs/hero.jpg");
  background-size: cover;
}

#home #welcomeText {
  color: #FCFDFF;
  padding-top: 20vh;
  z-index: 3;
  text-align: center;
}

/* Desktop */
@media only screen and (min-width: 850px) {
  #home {
    height: 95vh;
    background-position-y: -290px;
  }
  #welcomeText {
    font-size: 50px;
  }
}

/* Mobile */
@media only screen and (max-width: 850px) {
  #home {
    height: 90vh;
    background-repeat: no-repeat;
  }
  #welcomeText {
    font-size: 30px;
    z-index: 3;
    text-align: center;
  }
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

#aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#aboutMeText {
  color: #0a2249;
}

#techStack {
  display: -ms-grid;
  display: grid;
}

.technology {
  color: #FCFDFF;
  margin-top: 15px;
}

.technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Tablets and Desktop */
@media only screen and (min-width: 850px) {
  #about {
    padding: 30px;
  }
  #aboutMeTitle {
    text-align: left;
  }
  #mainInfo {
    width: 60%;
    margin-left: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mainInfo, #profileImg {
    margin: 50px 0px;
  }
  #techStack {
    width: 100%;
    margin: auto;
    -ms-grid-columns: (0.15fr)[6];
        grid-template-columns: repeat(6, 0.15fr);
  }
  #profileImg {
    margin-left: 10%;
    width: 25%;
  }
  .technology {
    margin: 10px 10px;
  }
  .technology img {
    width: 80px;
    height: 80px;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
  }
  .technology img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
  }
  .technology b {
    margin-top: 8px;
    font-size: 20px;
    color: #f88a7d;
  }
}

/* Mobile */
@media only screen and (max-width: 850px) {
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #aboutMeTitle {
    text-align: center;
  }
  #aboutMeText {
    font-size: 20px;
    padding: 15px 30px;
    text-align: center;
  }
  #profileImg {
    margin: auto;
    width: 60%;
    margin-bottom: -10px;
  }
  #techStack {
    -ms-grid-columns: (0.5fr)[3];
        grid-template-columns: repeat(3, 0.5fr);
  }
  .technology img {
    width: 80px;
    height: 80px;
  }
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0a2249;
}

#projectsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 60px 0px;
}

.project {
  position: relative;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.9;
}

.projectImage {
  opacity: 1;
  display: block;
  margin: 15px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 20px;
}

.projectInfo {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: #FCFDFF;
  border-radius: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project:hover .projectImage {
  opacity: 0.7;
}

.project:hover .projectInfo {
  opacity: 1;
}

.projectText {
  color: #f88a7d;
}

.projectText a {
  text-decoration: none;
  font-weight: bold;
  margin: 0px 5px;
  color: #FCFDFF;
  font-size: 25px;
  display: inline-block;
  background-color: #f88a7d;
  padding: 10px;
  border-radius: 10px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.projectText a:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  border-radius: 15px;
}

.projectText a:active {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  border-radius: 20px;
}

.btnProjectsNav {
  color: #FCFDFF;
  background-color: #f88a7d;
  padding: 15px 30px;
  border: none;
  font-size: 20px;
  margin: 0px 10px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.btnProjectsNav:hover {
  border-radius: 15px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.btnProjectsNav:active {
  border-radius: 20px;
}

#moreProjectsLink {
  text-align: center;
  color: #FCFDFF;
  border: none;
  background: linear-gradient(127deg, #f88a7d 0%, #c97066 80%);
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  padding: 20px 30px;
  border-radius: 20px;
}

#moreProjectsLink:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  border-radius: 30px;
}

/* Desktop and tablet */
@media only screen and (min-width: 850px) {
  #projectsList {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project {
    margin: auto;
  }
  .projectText {
    font-size: large;
  }
  .projectInfo {
    width: 80%;
    height: 70%;
  }
  .projectImage {
    width: 500px;
    margin: 15px;
    height: 350px;
  }
  #projectsCategory {
    -ms-grid-columns: (0.5fr)[3];
        grid-template-columns: repeat(3, 0.5fr);
  }
}

/* Mobile */
@media only screen and (max-width: 850px) {
  #projectsList {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-grid-columns: (90%)[1];
        grid-template-columns: repeat(1, 90%);
    text-align: center;
  }
  .project {
    margin: auto;
    margin-bottom: 15px;
    width: 80vw;
  }
  .projectInfo {
    font-size: 10px;
    width: 70%;
  }
  .projectText {
    font-size: 15px;
  }
  .projectText a {
    font-size: 15px;
    margin-top: 3px;
  }
  .projectImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    height: 300px;
  }
}

#moreProjectsNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#moreProjectsHeading .sectionTitlePrimary {
  font-size: 35px;
}

#projectsCategory {
  display: -ms-grid;
  display: grid;
  margin: auto;
  width: 80%;
}

#btnBack {
  text-decoration: none;
}

/* Desktop and tablet */
/* Mobile */
@media only screen and (max-width: 850px) {
  #moreProjectsHeading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #moreProjectsNav {
    margin-top: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projectsCategory {
    -ms-grid-columns: (0.5fr)[1];
        grid-template-columns: repeat(1, 0.5fr);
  }
  #projectsCategory .project {
    height: 250px;
  }
  #desktopView {
    display: none;
    visibility: hidden;
  }
  #mobileView {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #categorySelector {
    border: none;
    border-radius: 10px;
    color: #dce6e8;
    background-color: #f88a7d;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .btnProjectsNav {
    margin-top: 10px;
  }
}

#contact {
  margin-top: 5vh;
}

#contact .sectionTitlePrimary {
  color: #0a2249;
}

#contactForm {
  padding: 30px;
  margin: auto;
  text-align: center;
  color: #0a2249;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 50px;
}

#contactForm #inputFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contactForm #btnSubmit {
  background-color: #0a2249;
  border: none;
  border-radius: 10px;
  color: #FCFDFF;
  margin-top: 20px;
  font-size: 25px;
  padding: 20px 35px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

#contactForm #btnSubmit:hover {
  border-radius: 20px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

#contactForm div {
  margin: 0px 5px;
}

label {
  text-align: left;
}

.inputSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inputSection input {
  height: 30px;
}

.inputSection input, .inputSection textarea {
  background-color: #dfdfdf;
  border: none;
  border-radius: 10px;
  padding: 15px;
  color: #0a2249;
  font-size: 18px;
}

.inputSection input:focus, .inputSection textarea:focus {
  border-bottom: 5px solid #f88a7d;
}

::-webkit-input-placeholder {
  /* Firefox */
  color: #0a2249;
  font-size: 20px;
}

:-ms-input-placeholder {
  /* Firefox */
  color: #0a2249;
  font-size: 20px;
}

::-ms-input-placeholder {
  /* Firefox */
  color: #0a2249;
  font-size: 20px;
}

::placeholder {
  /* Firefox */
  color: #0a2249;
  font-size: 20px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0a2249;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #0a2249;
}

#socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0px;
}

/* Tablets and Desktop */
@media only screen and (min-width: 850px) {
  #btnBack {
    position: fixed;
    left: 3vw;
    top: 13vh;
  }
  input, textarea {
    margin: auto;
    width: 25vw;
  }
}

/* Mobile */
@media only screen and (max-width: 850px) {
  #contactForm {
    font-size: 20px;
  }
  #inputFields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  input, textarea {
    font-size: larger;
  }
  input {
    height: 20px;
  }
  #btnSubmit {
    font-size: large;
  }
}

* {
  scroll-behavior: smooth;
  font-family: Arial;
}

html, body {
  overflow-x: hidden;
}

body {
  background-color: #fcfdffd0;
  position: relative;
  margin: 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  overflow-y: hidden;
}

.container {
  margin: auto;
}

.sectionTitlePrimary, .sectionTitleSecondary {
  text-align: center;
}

.sectionTitlePrimary {
  color: #f88a7d;
}

.sectionTitleSecondary {
  color: #FCFDFF;
}

.btnMisc, #btnBack {
  margin: 0px 10px;
  background-color: #0a2249;
  background: linear-gradient(338deg, #0a2249 39%, #f88a7d 100%);
  color: #FCFDFF;
  padding: 15px 20px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.btnMisc:hover, #btnBack:hover {
  border-radius: 50px;
  cursor: pointer;
  background: #0a2249;
  background: linear-gradient(338deg, #0a2249 0%, #f88a7d 100%);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.inputField, #contactForm, .projectImg {
  border-radius: 10px;
}

/* Tablets and Desktop */
@media only screen and (min-width: 850px) {
  .container {
    width: 80%;
  }
  #socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #mobileView {
    display: none;
    visibility: hidden;
  }
}

/* Mobile */
@media only screen and (max-width: 850px) {
  .container {
    width: 90%;
  }
  #socials {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -10vh;
  }
  .btnMisc {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=main.css.map */