@import "./variables";

@import "./nav";
@import "./home";
@import "./about";
@import "./projects";
@import "./moreProjects.scss";
@import "./contact";


* {
    scroll-behavior: smooth;
    font-family: Arial;
}

html, body {
    overflow-x: hidden;
}



body {
    background-color: $darkwhite;
    position: relative;
    
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    max-width: 100%;

    overflow-y: hidden;
    
}

.container {
    width: 80%;
    margin: auto;
 
}

.sectionTitlePrimary, .sectionTitleSecondary {
    text-align: center;
    
}

.sectionTitlePrimary {
    color: $secondary;
}

.sectionTitleSecondary {
    color: $white;
}

.btnMisc, #btnBack {
    margin: 0px 10px;
    background-color: $primary;
    background: linear-gradient(338deg, $primary 39%, $secondary 100%);
    color: $white;
    padding: 15px 20px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    transition-duration: 500ms;

    &:hover {
        border-radius: 50px;
        cursor: pointer;
        background: $primary;
        background: linear-gradient(338deg, $primary 0%, $secondary 100%);
        transition-duration: 500ms;
    }
}



.inputField, #contactForm, .projectImg {
    border-radius: 10px;
}



/* Tablets and Desktop */
@media only screen and (min-width: 850px) {

    #socials {

        flex-direction: row;
    }



    #mobileView {
        display: none;
        visibility: hidden;
    }
}

/* Mobile */
@media only screen and (max-width: 850px) {

    #socials {
        align-items: center;
        flex-direction: column;
        margin-top: -10vh;
    }

    .btnMisc {
        margin-top: 10px;
    }
}